.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.weatherDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.currentWeatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imageContainer {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.forecastTitle {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  color: #333;
}

.forecastContainer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

.forecastItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 10px);
  max-width: 430px;
  padding: 15px;
  background: #f3f4f6;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .forecastContainer {
    flex-wrap: wrap;
  }
}